<mat-card class="p-0" style="width:75%">
  <mat-card-title class="">
    <div class="card-title-text">Message Template</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Add Templates">

        <!-- <mat-card class="p-0" style="width:50%"> -->

          <mat-card-content class="p-0" >

            <!-- <mat-card class="p-0"> -->


            <!-- <mat-card-title class="">
              <div class="card-title-text">
                <span>Template Name</span>
              </div>
              <mat-divider></mat-divider>
            </mat-card-title> -->
            <mat-card style="margin-left:1px;">
            <h5>Template Name</h5>

              <div class="pb-1">
                  <mat-form-field class="half-width">
                      <input
                      matInput
                      name="title"
                      placeholder="Title"
                      [(ngModel)]="title"
                      maxlength="400">
                  </mat-form-field>
              </div>
              <!-- <div class="pb-1">
                  <mat-form-field class="full-width">
                      <input
                      matInput
                      name="text"
                      placeholder="Text"
                      [(ngModel)]="text">
                  </mat-form-field>
              </div>
              <button mat-raised-button color="primary" (click)="openDialog()" class="mb-1">Open dialog</button>
              <p>You selected: {{selectedOption}}</p> -->





          <!-- <mat-card-title class="">
            <div class="card-title-text">
              <span>Push Message</span>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title> -->
          <h5>Push Message</h5>

            <div class="pb-1">
                <mat-form-field class="full-width">
                    <input
                    matInput
                    name="title"
                    placeholder="Title"
                    [(ngModel)]="title"
                    maxlength="400">
                </mat-form-field>
            </div>

          </mat-card>
            <!-- <div class="pb-1">
                <mat-form-field class="full-width">
                    <input
                    matInput
                    name="text"
                    placeholder="Text"
                    [(ngModel)]="text">
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="openDialog()" class="mb-1">Open dialog</button>
            <p>You selected: {{selectedOption}}</p> -->

        <!-- </mat-card> -->


        <!-- <mat-card-title class="">
          <div class="card-title-text">
            <span>Marketing Text</span>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title> -->


<mat-card style="margin:1px;">
        <h5>Marketing Text</h5>

            <quill-editor
            theme="snow"
            [(ngModel)]="editorData"
            (onContentChanged)="onContentChanged()"
            onSelectionChanged="onSelectionChanged()"></quill-editor>


</mat-card>
<button mat-raised-button color="primary" class="mr-1" style="margin-top:5px;margin-left:0px;">Save Template</button>

          </mat-card-content>

        <!-- </mat-card> -->

        <!-- <mat-card class="p-0" style="width:50%"> -->
        <!--
        </mat-card> -->


      </mat-tab>

      <!-- <mat-card>
        <button mat-raised-button color="primary" class="mr-1" style="margin-left:5px">Save Template</button>

      </mat-card> -->


      <mat-tab label="View Templates">

        <div fxLayout="row" fxLayoutWrap="wrap" >
          <div
          *ngFor="let user of users"
          fxFlex="100"
          fxFlex.gt-sm="33"
          fxFlex.sm="50">
            <mat-card class="user-card p-0">
              <mat-card-title class="mat-bg-primary">
                <div class="card-title-text">
                  <a href="" class="toolbar-avatar md mr-1"><img [src]="user.photo" alt=""></a>
                  <span>{{user.name}}</span>
                  <span fxFlex></span>
                  <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                      <mat-icon class="">more_vert</mat-icon>
                  </button>
                  <mat-menu #userMenu="matMenu">
                      <button mat-menu-item>Follow</button>
                      <button mat-menu-item>Message</button>
                      <button mat-menu-item>Block</button>
                      <button mat-menu-item>Delete</button>
                  </mat-menu>
                </div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <!-- user detail lines-->
                <div class="user-details">
                  <p><mat-icon class="text-muted">card_membership</mat-icon>{{user.membership}}</p>
                  <p><mat-icon class="text-muted">date_range</mat-icon>Member since {{user.registered | date}}</p>
                  <p><mat-icon class="text-muted">phone</mat-icon>{{user.phone}}</p>
                  <p><mat-icon class="text-muted">location_on</mat-icon>{{user.address}}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>






      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
