<!-- Dashboard card row -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">App Opens</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip"
        color="primary"
        selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{stats.appOpens}}</h3>
        <small class="text-muted">Daily</small>

        <mat-chip
        class="icon-chip"
        color="primary"
        selected="true"
        style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

      </mat-card-content>


    </mat-card>

  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Wifi Time</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip"
        color="primary"
        selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{stats.callOrders}}</h3>
        <small class="text-muted">Daily</small>

        <mat-chip
        class="icon-chip"
        color="primary"
        selected="true"
        style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

      </mat-card-content>


    </mat-card>

  </div>


  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Users Online</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip"
        color="primary"
        selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{stats.callOrdersDelivered}}</h3>
        <small class="text-muted">Daily</small>

        <mat-chip
        class="icon-chip"
        color="primary"
        selected="true"
        style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

      </mat-card-content>


    </mat-card>

  </div>


  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Money Received Today</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip"
        color="primary"
        selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{stats.moneyReceivedToday}}</h3>
        <small class="text-muted">Daily</small>

        <mat-chip
        class="icon-chip"
        color="primary"
        selected="true"
        style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

      </mat-card-content>


    </mat-card>

  </div>



  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Active Restaurants</small>
        <span fxFlex></span>
        <mat-chip
        class="icon-chip"
        color="primary"
        selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{stats.guidesOnDuty}}</h3>
        <small class="text-muted">Daily</small>

        <mat-chip
        class="icon-chip"
        color="primary"
        selected="true"
        style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

      </mat-card-content>


    </mat-card>

  </div>  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
      <mat-card>
        <mat-card-title fxLayoutAlign="start center">
          <small class="text-muted">Total Restaurants</small>
          <span fxFlex></span>
          <mat-chip
          class="icon-chip"
          color="primary"
          selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">{{stats.numberOfGuides}}</h3>
          <small class="text-muted">Daily</small>

          <mat-chip
          class="icon-chip"
          color="primary"
          selected="true"
          style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

        </mat-card-content>


      </mat-card>

    </div>
    <!-- <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card>
          <mat-card-title fxLayoutAlign="start center">
            <small class="text-muted">Total Sales</small>
            <span fxFlex></span>
            <mat-chip
            class="icon-chip"
            color="primary"
            selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

          </mat-card-title>
          <mat-card-content>
            <h3 class="m-0 font-normal">22,450</h3>
            <small class="text-muted">Monthly</small>

            <mat-chip
            class="icon-chip"
            color="primary"
            selected="true"
            style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

          </mat-card-content>


        </mat-card>

      </div>
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
          <mat-card>
            <mat-card-title fxLayoutAlign="start center">
              <small class="text-muted">Total Sales</small>
              <span fxFlex></span>
              <mat-chip
              class="icon-chip"
              color="primary"
              selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

            </mat-card-title>
            <mat-card-content>
              <h3 class="m-0 font-normal">22,450</h3>
              <small class="text-muted">Monthly</small>

              <mat-chip
              class="icon-chip"
              color="primary"
              selected="true"
              style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

            </mat-card-content>


          </mat-card>

        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
            <mat-card>
              <mat-card-title fxLayoutAlign="start center">
                <small class="text-muted">Total Sales</small>
                <span fxFlex></span>
                <mat-chip
                class="icon-chip"
                color="primary"
                selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

              </mat-card-title>
              <mat-card-content>
                <h3 class="m-0 font-normal">22,450</h3>
                <small class="text-muted">Monthly</small>

                <mat-chip
                class="icon-chip"
                color="primary"
                selected="true"
                style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

              </mat-card-content>


            </mat-card>

          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
              <mat-card>
                <mat-card-title fxLayoutAlign="start center">
                  <small class="text-muted">Total Sales</small>
                  <span fxFlex></span>
                  <mat-chip
                  class="icon-chip"
                  color="primary"
                  selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                </mat-card-title>
                <mat-card-content>
                  <h3 class="m-0 font-normal">22,450</h3>
                  <small class="text-muted">Monthly</small>

                  <mat-chip
                  class="icon-chip"
                  color="primary"
                  selected="true"
                  style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                </mat-card-content>


              </mat-card>

            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
                <mat-card>
                  <mat-card-title fxLayoutAlign="start center">
                    <small class="text-muted">Total Sales</small>
                    <span fxFlex></span>
                    <mat-chip
                    class="icon-chip"
                    color="primary"
                    selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                  </mat-card-title>
                  <mat-card-content>
                    <h3 class="m-0 font-normal">22,450</h3>
                    <small class="text-muted">Monthly</small>

                    <mat-chip
                    class="icon-chip"
                    color="primary"
                    selected="true"
                    style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                  </mat-card-content>


                </mat-card>

              </div>
              <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
                  <mat-card>
                    <mat-card-title fxLayoutAlign="start center">
                      <small class="text-muted">Total Sales</small>
                      <span fxFlex></span>
                      <mat-chip
                      class="icon-chip"
                      color="primary"
                      selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                    </mat-card-title>
                    <mat-card-content>
                      <h3 class="m-0 font-normal">22,450</h3>
                      <small class="text-muted">Monthly</small>

                      <mat-chip
                      class="icon-chip"
                      color="primary"
                      selected="true"
                      style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                    </mat-card-content>


                  </mat-card>

                </div>
                <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
                    <mat-card>
                      <mat-card-title fxLayoutAlign="start center">
                        <small class="text-muted">Total Sales</small>
                        <span fxFlex></span>
                        <mat-chip
                        class="icon-chip"
                        color="primary"
                        selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                      </mat-card-title>
                      <mat-card-content>
                        <h3 class="m-0 font-normal">22,450</h3>
                        <small class="text-muted">Monthly</small>

                        <mat-chip
                        class="icon-chip"
                        color="primary"
                        selected="true"
                        style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                      </mat-card-content>


                    </mat-card>

                  </div>
                  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
                      <mat-card>
                        <mat-card-title fxLayoutAlign="start center">
                          <small class="text-muted">Total Sales</small>
                          <span fxFlex></span>
                          <mat-chip
                          class="icon-chip"
                          color="primary"
                          selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                        </mat-card-title>
                        <mat-card-content>
                          <h3 class="m-0 font-normal">22,450</h3>
                          <small class="text-muted">Monthly</small>

                          <mat-chip
                          class="icon-chip"
                          color="primary"
                          selected="true"
                          style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                        </mat-card-content>


                      </mat-card>

                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
                        <mat-card>
                          <mat-card-title fxLayoutAlign="start center">
                            <small class="text-muted">Total Sales</small>
                            <span fxFlex></span>
                            <mat-chip
                            class="icon-chip"
                            color="primary"
                            selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                          </mat-card-title>
                          <mat-card-content>
                            <h3 class="m-0 font-normal">22,450</h3>
                            <small class="text-muted">Monthly</small>

                            <mat-chip
                            class="icon-chip"
                            color="primary"
                            selected="true"
                            style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                          </mat-card-content>


                        </mat-card>

                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
                          <mat-card>
                            <mat-card-title fxLayoutAlign="start center">
                              <small class="text-muted">Total Sales</small>
                              <span fxFlex></span>
                              <mat-chip
                              class="icon-chip"
                              color="primary"
                              selected="true"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                            </mat-card-title>
                            <mat-card-content>
                              <h3 class="m-0 font-normal">22,450</h3>
                              <small class="text-muted">Monthly</small>

                              <mat-chip
                              class="icon-chip"
                              color="primary"
                              selected="true"
                              style="width:40px;float:right"><mat-icon>trending_up</mat-icon>20%</mat-chip>

                            </mat-card-content>


                          </mat-card>

                        </div> -->



</div>

<!-- Fullwidth chart -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <mat-card class="default">
      <mat-card-title class="">
        <span>Orders</span>
        <span fxFlex></span>
      </mat-card-title>
      <mat-card-subtitle>Orders vs New user registrations</mat-card-subtitle>
      <mat-card-content class="p-0" [style.height]="'240px'">
        <canvas
          height="240"
          baseChart
          class="chart m-0"
          [datasets]="lineChartSteppedData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Gallery and chart column -->
  <!-- <div fxFlex="100" fxFlex.gt-sm="33.33"> -->
    <!-- <mat-card class="p-0">
      <div fxLayout="row" fxLayoutWrap="wrap" class="doughnut-grid text-center">
          <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
            <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData1"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors1"
            [chartType]="doughnutChartType"></canvas>
            <small>Space: {{data1}}/{{total1}} GB</small>
        </div>
        <div fxFlex="50" class="doughnut-grid-item">
          <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData2"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors2"
            [chartType]="doughnutChartType"></canvas>
            <small>Tasks: 8/12</small>
      </div>
      <div fxFlex="50" class="doughnut-grid-item">
        <canvas
          height="120"
          baseChart
          class="chart"
          [data]="doughnutChartData1"
          [options]="doughnutOptions"
          [labels]="doughnutLabels"
          [colors]="doughnutChartColors2"
          [chartType]="doughnutChartType"></canvas>
          <small>Tickets: 15/40</small>
      </div>
      <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
        <canvas
        height="120"
        baseChart
        class="chart"
        [data]="doughnutChartData2"
        [options]="doughnutOptions"
        [labels]="doughnutLabels"
        [colors]="doughnutChartColors1"
        [chartType]="doughnutChartType"></canvas>
        <small>Stock: 1600/2000</small>
      </div>
    </div>
    </mat-card> -->

    <!-- <mat-card class="p-0">
      <div fxLayout="row" fxLayoutWrap="wrap" class="doughnut-grid text-center">
          <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
            <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData1"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors1"
            [chartType]="doughnutChartType"></canvas>
            <small>Space: {{data1}}/{{total1}} GB</small>
        </div>
        <div fxFlex="50" class="doughnut-grid-item">
          <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData2"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors2"
            [chartType]="doughnutChartType"></canvas>
            <small>Tasks: 8/12</small>
      </div>
      <div fxFlex="50" class="doughnut-grid-item">
        <canvas
          height="120"
          baseChart
          class="chart"
          [data]="doughnutChartData1"
          [options]="doughnutOptions"
          [labels]="doughnutLabels"
          [colors]="doughnutChartColors2"
          [chartType]="doughnutChartType"></canvas>
          <small>Tickets: 15/40</small>
      </div>
      <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
        <canvas
        height="120"
        baseChart
        class="chart"
        [data]="doughnutChartData2"
        [options]="doughnutOptions"
        [labels]="doughnutLabels"
        [colors]="doughnutChartColors1"
        [chartType]="doughnutChartType"></canvas>
        <small>Stock: 1600/2000</small>
      </div>
    </div>
    </mat-card> -->

    <!-- <mat-card class="p-0">
      <div fxLayout="row" fxLayoutWrap="wrap" class="doughnut-grid text-center">
          <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
            <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData1"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors1"
            [chartType]="doughnutChartType"></canvas>
            <small>Space: {{data1}}/{{total1}} GB</small>
        </div>
        <div fxFlex="50" class="doughnut-grid-item">
          <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData2"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors2"
            [chartType]="doughnutChartType"></canvas>
            <small>Tasks: 8/12</small>
      </div>
      <div fxFlex="50" class="doughnut-grid-item">
        <canvas
          height="120"
          baseChart
          class="chart"
          [data]="doughnutChartData1"
          [options]="doughnutOptions"
          [labels]="doughnutLabels"
          [colors]="doughnutChartColors2"
          [chartType]="doughnutChartType"></canvas>
          <small>Tickets: 15/40</small>
      </div>
      <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
        <canvas
        height="120"
        baseChart
        class="chart"
        [data]="doughnutChartData2"
        [options]="doughnutOptions"
        [labels]="doughnutLabels"
        [colors]="doughnutChartColors1"
        [chartType]="doughnutChartType"></canvas>
        <small>Stock: 1600/2000</small>
      </div>
    </div>
    </mat-card> -->

    <!-- <mat-card class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">
          <span>Top Campaign Performance</span>
          <span fxFlex></span>
          <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu2">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Campaign Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon>do_not_disturb</mat-icon>
              <span>Disable All Campaigns</span>
            </button>
            <button mat-menu-item>
              <mat-icon>close</mat-icon>
              <span>Remove panel</span>
            </button>
          </mat-menu>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
       <div class="mb-1">
        <p class="mb-05 text-muted">Facebook Campaign</p>
        <mat-progress-bar
        class=""
        color="primary"
        mode="determinate"
        [value]="90">
        </mat-progress-bar>
       </div>
       <div class="mb-1">
        <p class="mb-05 text-muted">Google AdSense</p>
        <mat-progress-bar
        class=""
        color="primary"
        mode="determinate"
        [value]="80">
        </mat-progress-bar>
       </div>
       <div class="mb-1">
        <p class="mb-05 text-muted">Twitter Campaign</p>
        <mat-progress-bar
        class=""
        color="accent"
        mode="determinate"
        [value]="60">
        </mat-progress-bar>
       </div>
       <div class="mb-1">
        <p class="mb-05 text-muted">LinkedIn Campaign</p>
        <mat-progress-bar
        class=""
        color="warn"
        mode="determinate"
        [value]="40">
        </mat-progress-bar>
       </div>
      </mat-card-content>
    </mat-card> -->

    <!-- <mat-card class="default">
      <mat-card-content class="p-0">
        <mat-grid-list cols="3" rowHeight="1:1" class="app-gallery"> -->
          <!-- Gallery item -->
          <!-- <mat-grid-tile *ngFor="let photo of photos">
            <img [src]="photo.url" alt=""> -->
            <!-- item detail, show on hover -->
            <!-- <div class="gallery-control-wrap">
              <div class="gallery-control">
                <h4 class="photo-detail fz-1" [fxHide.lt-sm]="true">{{photo.name}}</h4>
                <span fxFlex></span>
                <button mat-icon-button [matMenuTriggerFor]="photoMenu" class="">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #photoMenu="matMenu">
                  <button mat-menu-item><mat-icon>send</mat-icon>Send as attachment</button>
                  <button mat-menu-item><mat-icon>favorite</mat-icon>Favorite</button>
                  <button mat-menu-item><mat-icon>delete</mat-icon>Delete</button>
                </mat-menu>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card> -->
  <!-- </div> -->

  <!-- ticket and project table column -->
  <!-- <div fxFlex="100" fxFlex.gt-sm="66.66" fxLayout="column" fxLayoutWrap="wrap">
    <mat-card class="default">
      <mat-card-title>Recent Tickets</mat-card-title>
      <mat-card-content class="p-0">
        <mat-list class="compact-list mb-1">
          <mat-list-item class="" *ngFor="let t of tickets">
            <img mat-list-avatar class="mr-1" [src]="t.img" alt="">
            <div fxLayout="row" fxFlex="100">
              <h6 class="m-0 mr-1">{{t.name}}</h6>
              <span fxFlex></span>
              <div fxFlex="40">{{t.text | excerpt:20 }}</div>
              <span fxFlex></span>
              <small class="text-muted mr-1">{{ t.date | relativeTime}}</small>
            </div>
            <mat-chip mat-sm-chip [color]="'warn'" [selected]="t.isOpen">{{t.isOpen ? 'active' : 'closed'}}</mat-chip>
          </mat-list-item>
        </mat-list>
        <div class="text-center">
          <button mat-button class="full-width">View all</button>
        </div>
      </mat-card-content>
    </mat-card> -->

    <!-- <mat-card class="p-0">
      <mat-card-content class="p-0">
        <ngx-datatable
          class="material ml-0 mr-0"
          [rows]="projects"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="0"
          [rowHeight]="'auto'">
          <ngx-datatable-column name="Sprints" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Manager" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.user }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Progress" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-progress-bar
                class=""
                color="primary"
                mode="determinate"
                [value]="row.progress">
              </mat-progress-bar>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <div class="text-center">
          <button mat-button class="full-width">View all</button>
        </div>
      </mat-card-content>
    </mat-card> -->

    <!-- Users Row -->
    <!-- <div fxLayout="row" fxLayoutWrap="wrap" >
      <div
      *ngFor="let user of users"
      fxFlex="100"
      fxFlex.gt-sm="50">
        <mat-card class="user-card p-0">
          <mat-card-title class="mat-bg-primary">
            <div class="card-title-text">
              <a href="" class="toolbar-avatar md mr-1"><img [src]="user.photo" alt=""></a>
              <span>{{user.name}}</span>
              <span fxFlex></span>
              <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                  <mat-icon class="">more_vert</mat-icon>
              </button>
              <mat-menu #userMenu="matMenu">
                  <button mat-menu-item>Follow</button>
                  <button mat-menu-item>Message</button>
                  <button mat-menu-item>Block</button>
                  <button mat-menu-item>Delete</button>
              </mat-menu>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content> -->
            <!-- user detail lines-->
            <!-- <div class="user-details">
              <p><mat-icon class="text-muted">card_membership</mat-icon>{{user.membership}}</p>
              <p><mat-icon class="text-muted">date_range</mat-icon>Member since {{user.registered | date}}</p>
              <p><mat-icon class="text-muted">location_on</mat-icon>{{user.address}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div> -->
    <!-- End Users Row -->
  <!-- </div> -->
  <!-- End tables and users column -->
<!-- </div> -->


<div fxFlex="100" fxFlex.gt-sm="33.33">
<mat-card class="p-0">
<div fxLayout="row" fxLayoutWrap="wrap" class="doughnut-grid text-center">
        <div fxFlex="50" class="doughnut-grid-item">
          <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData2"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors2"
            [chartType]="doughnutChartType"></canvas>
            <small>Tasks: 8/12</small>
      </div>

  <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
            <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData1"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors1"
            [chartType]="doughnutChartType"></canvas>
            <small>Space: {{data1}}/{{total1}} GB</small>
        </div>

  <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
            <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData1"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors1"
            [chartType]="doughnutChartType"></canvas>
            <small>Space: {{data1}}/{{total1}} GB</small>
        </div>



<div fxFlex="50" class="doughnut-grid-item">
          <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData2"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors2"
            [chartType]="doughnutChartType"></canvas>
            <small>Tasks: 8/12</small>
      </div>



</div>
</mat-card>
</div>

<div fxFlex="100" fxFlex.gt-sm="33.33">
<mat-card class="p-0">
<div fxLayout="row" fxLayoutWrap="wrap" class="doughnut-grid text-center">
        <div fxFlex="50" class="doughnut-grid-item">
          <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData2"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors2"
            [chartType]="doughnutChartType"></canvas>
            <small>Tasks: 8/12</small>
      </div>

  <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
            <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData1"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors1"
            [chartType]="doughnutChartType"></canvas>
            <small>Space: {{data1}}/{{total1}} GB</small>
        </div>

  <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
            <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData1"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors1"
            [chartType]="doughnutChartType"></canvas>
            <small>Space: {{data1}}/{{total1}} GB</small>
        </div>



<div fxFlex="50" class="doughnut-grid-item">
          <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData2"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors2"
            [chartType]="doughnutChartType"></canvas>
            <small>Tasks: 8/12</small>
      </div>



</div>
</mat-card>
</div>


<div fxFlex="100" fxFlex.gt-sm="33.33">
<mat-card class="p-0">
<div fxLayout="row" fxLayoutWrap="wrap" class="doughnut-grid text-center">
        <div fxFlex="50" class="doughnut-grid-item">
          <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData2"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors2"
            [chartType]="doughnutChartType"></canvas>
            <small>Tasks: 8/12</small>
      </div>

  <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
            <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData1"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors1"
            [chartType]="doughnutChartType"></canvas>
            <small>Space: {{data1}}/{{total1}} GB</small>
        </div>

  <div fxFlex="50" class="doughnut-grid-item light-mat-gray">
            <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData1"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors1"
            [chartType]="doughnutChartType"></canvas>
            <small>Space: {{data1}}/{{total1}} GB</small>
        </div>



<div fxFlex="50" class="doughnut-grid-item">
          <canvas
            height="120"
            baseChart
            class="chart"
            [data]="doughnutChartData2"
            [options]="doughnutOptions"
            [labels]="doughnutLabels"
            [colors]="doughnutChartColors2"
            [chartType]="doughnutChartType"></canvas>
            <small>Tasks: 8/12</small>
      </div>



</div>
</mat-card>
</div>
