<mat-nav-list class="" role="list">
  <!--==== Side menu items ====-->
  <div class="icon-menu" *ngIf="hasIconTypeMenuItem">
    <!-- Icon menu separator -->
    <div class="mt-1 mb-1 icon-menu-separator">
       <mat-divider [style.margin]="'0 -24px'"></mat-divider>
      <span [ngStyle]="{paddingLeft: 0, marginLeft: '-6px'}" class="nav-section-title text-muted" >{{iconTypeMenuTitle}}</span>
    </div>
    <!-- Icon menu items -->
    <div class="icon-menu-item" *ngFor="let item of menuItems">
      <button
      *ngIf="!item.disabled && item.type === 'icon' && isAdminLogin != item.isRestaurent"
      mat-raised-button
      [matTooltip]="item.tooltip"

      routerLink="/{{item.state}}"
      routerLinkActive="mat-bg-primary"><mat-icon>{{item.icon}}</mat-icon></button>
    </div>
  </div>
  <!-- Regular menu items -->
  <div *ngFor="let item of menuItems">
    <!-- if it's not desabled and not a separator and not icon -->
    <mat-list-item
    sideNavAccordion
    class="sidebar-list-item"
    role="listitem"
    *ngIf="!item.disabled && item.type !== 'separator' && item.type !== 'icon' && isAdminLogin != item.isRestaurent"
    [ngClass]="{'has-submenu': item.type === 'dropDown'}"
    routerLinkActive="open">
      <a routerLink="/{{item.state}}" *ngIf="item.type === 'link'">
        <span
        class="menu-item-tooltip"
        [matTooltip]="item.tooltip"
        matTooltipPosition="right"></span>
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name | translate}}</span>
      </a>
      <a *ngIf="item.type === 'dropDown'">
        <span
        class="menu-item-tooltip"
        [matTooltip]="item.tooltip"
        matTooltipPosition="above"></span>
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name | translate}}</span>
        <span fxFlex></span>
        <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
      </a>
      <a [href]="item.state" *ngIf="item.type === 'extLink'" target="_blank">
        <span
        class="menu-item-tooltip"
        [matTooltip]="item.tooltip"
        matTooltipPosition="right"></span>
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name | translate}}</span>
      </a>
      <mat-nav-list class="sub-menu" role="list" *ngIf="item.type === 'dropDown'">
        <mat-list-item
        routerLinkActive="selected"
        *ngFor="let subItem of item.sub">
          <a routerLink="{{item.state ? '/'+item.state : ''}}/{{subItem.state}}">{{subItem.name | translate}}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-list-item>

    <!-- If item type is separator -->
    <div class="mt-1 mb-1" *ngIf="!item.disabled && item.type === 'separator'">
      <mat-divider></mat-divider>
      <span class="nav-section-title text-muted" *ngIf="!!item.name">{{item.name | translate}}</span>
    </div>
  </div>

  <!-- Only for demo purpose -->
  <!-- <mat-divider></mat-divider>
  <div>
    <mat-list-item class="sidebar-list-item">
      <a (click)="addMenuItem()">
        <span
        class="menu-item-tooltip"
        matTooltip="Add new menu item"
        matTooltipPosition="right"></span>
        <mat-icon>add</mat-icon>
        <span>{{'ADD' | translate}}</span>
      </a>
    </mat-list-item>
  </div> -->
</mat-nav-list>
