<mat-card class="p-0" >
  <mat-card-title class="" >
    <div class="card-title-text">User List</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Active User Map" >

        <mat-card-content >
          <div fxLayout="row" fxLayoutWrap="wrap">
            <!-- <div fxFlex="100" fxFlex.gt-sm="33">
              <mat-card class="p-0">
                <mat-card-title class="m-0">
                  <div class="card-title-text">Basic</div>
                  <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content class="p-0">
                  <agm-map
                  [ngStyle]="{height: '400px'}"
                  [zoom]="zoom"
                  [latitude]="mapCenter.lat"
                  [longitude]="mapCenter.lng"></agm-map>
                </mat-card-content>
              </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33">
              <mat-card class="p-0">
                <mat-card-title class=" m-0">
                  <div class="card-title-text">Polyline</div>
                  <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content class="p-0">
                  <agm-map
                  [ngStyle]="{height: '400px'}"
                  [zoom]="zoom"
                  [latitude]="mapCenter.lat"
                  [longitude]="mapCenter.lng">
                    <agm-polyline strokeColor="#247ba0 ">
                      <agm-polyline-point *ngFor="let point of polylinePoints" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
                    </agm-polyline>
                  </agm-map>
                </mat-card-content>
              </mat-card>
            </div> -->

            <div fxFlex="100" fxFlex.gt-sm="100">
              <mat-card class="p-0">
                <mat-card-title class=" m-0">
                  <!-- <div class="card-title-text">Info Window</div> -->
                  <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content class="p-0">
                  <agm-map
                  [ngStyle]="{height: '800px'}"
                  [zoom]="zoom"
                  [latitude]="mapCenter.lat"
                  [longitude]="mapCenter.lng">
                  <div *ngFor="let usersList of usersList">
                  <agm-marker [latitude]="usersList.latitude" [longitude]="usersList.longitude" [label]="">
                    <agm-info-window [disableAutoPan]="true" [isOpen]="false">
                      <p><strong>Name:</strong> {{usersList.name}}</p>
                      <!-- <p><strong>Birth date:</strong> 16 December, 1971</p> -->
                    </agm-info-window>
                  </agm-marker>
                </div>
                  </agm-map>
                </mat-card-content>
              </mat-card>
            </div>

            <!-- <div fxFlex="100" fxFlex.gt-sm="33">
              <mat-card class="p-0">
                <mat-card-title class=" m-0">
                  <div class="card-title-text">Circle<span fxFlex></span>
                  <small>Radius: {{circleMapRadius / 1000}} km</small></div>
                  <mat-divider></mat-divider>
                </mat-card-title>
                <mat-card-content class="p-0">
                  <agm-map
                  [ngStyle]="{height: '400px'}"
                  [zoom]="zoom"
                  [latitude]="mapCenter.lat"
                  [longitude]="mapCenter.lng">
                  <agm-circle
                  [latitude]="mapCenter.lat"
                  [longitude]="mapCenter.lng"
                  [radius]="circleMapRadius"
                  [editable]="true"
                  [strokeColor]="'#000'"
                  [strokeWeight]="'3px'"
                  (radiusChange)="circleMapRadiusChange($event)">
                  </agm-circle>
                  </agm-map>
                </mat-card-content>
              </mat-card>
            </div> -->

          </div>
          </mat-card-content>
      </mat-tab>



      <mat-tab label="Users Profile">
        <div style="margin-bottom:50px;">
        <h5 style="margin:5px">Filters</h5>
          <form class="pt-1" style="padding:0px!important">
              <mat-select id="langToggle" placeholder="" [(ngModel)]="selectedValue" name="food" class="mb-1">
                <mat-option *ngFor="let good of goods" [value]="good.value" ngDefaultControl>
                  {{good.viewValue}}
                </mat-option>
              </mat-select>
              <!-- <p> Selected value: {{selectedValue}} </p> -->
          </form>
        </div>

        <div fxLayout="row" fxLayoutWrap="wrap" >
          <div *ngFor="let usersList of usersList" fxFlex="100" fxFlex.gt-sm="32" fxFlex.sm="50">
            <mat-card class="user-card p-0">
              <mat-card-title class="mat-bg-primary">
                <div class="card-title-text">
                  <!-- <a href="" class="toolbar-avatar md mr-1"><img [src]="explore.image" alt=""></a> -->
                  <span>{{usersList.name}}</span>
                  <span fxFlex></span>
                  <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                      <mat-icon class="">more_vert</mat-icon>
                  </button>
                  <mat-menu #userMenu="matMenu">
                      <button mat-menu-item>Edit</button>
                      <button mat-menu-item (click)="deleteExplore(explore.id)">Delete</button>
                  </mat-menu>
                </div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <!-- user detail lines-->
                <div class="user-details">
                  <!-- <p><mat-icon class="text-muted">card_membership</mat-icon>{{explore.description}}</p> -->
                  <p><mat-icon class="text-muted">local_phone</mat-icon>{{usersList.phone}}</p>
                  <p><mat-icon class="text-muted">mail</mat-icon>{{usersList.email}}</p>
                  <p><mat-icon class="text-muted">location_on</mat-icon>{{usersList.countryCode}}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
