<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">Tabs</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Tab 1">

        <mat-card-title class="">
          <div class="card-title-text">
            <h5>Geo Region Name</h5>
          </div>

        </mat-card-title>
        <mat-card-content>
          <div class="pb-1">
              <mat-form-field class="half-width">
                  <input
                  matInput
                  name="title"
                  placeholder="Segment Name"
                  [(ngModel)]="title"
                  maxlength="400">
              </mat-form-field>
            <h5 style="float:right;">  Radius: {{circleMapRadius / 1000}} km</h5>
          </div>
          <!-- <div class="pb-1">
              <mat-form-field class="full-width">
                  <input
                  matInput
                  name="text"
                  placeholder="Text"
                  [(ngModel)]="text">
              </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="openDialog()" class="mb-1">Open dialog</button>
          <p>You selected: {{selectedOption}}</p> -->
        </mat-card-content>






    <div fxFlex="100" fxFlex.gt-sm="100">
      <mat-card class="p-0">
        <mat-card-title class=" m-0">
          <!-- <div class="card-title-text">Circle<span fxFlex></span>
          <small>Radius: {{circleMapRadius / 1000}} km</small></div> -->
          <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content class="p-0">
          <agm-map
          [ngStyle]="{height: '800px'}"
          [zoom]="zoom"
          [latitude]="mapCenter.lat"
          [longitude]="mapCenter.lng">
          <agm-circle
          [latitude]="mapCenter.lat"
          [longitude]="mapCenter.lng"
          [radius]="circleMapRadius"
          [editable]="true"
          [strokeColor]="'#000'"
          [strokeWeight]="'3px'"
          (radiusChange)="circleMapRadiusChange($event)">
          </agm-circle>
          </agm-map>
        </mat-card-content>
      </mat-card>
    </div>


      </mat-tab>
      <mat-tab label="Tab 2">

        <div class="mat-box-shadow margin-333">
            <ngx-datatable class="material bg-white"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [limit]="10"
            [rows]="rows"
            [columns]="columns">
            </ngx-datatable>
        </div>


      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
