<div class="example-container mat-elevation-z8">
  <a mat-raised-button color="primary" [routerLink]="['/users']" class="mr-1" style="margin:4px;max-width:200px">View Unblocked Users</a>
  <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let element">  {{element.countryCode}} &nbsp; {{element.phone}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let user">
              <button class="card-control" matTooltip="UnBlock" mat-icon-button (click)="unblockUser(user.id)">
                  <mat-icon color="primary">undo</mat-icon>
                </button>
                <button class="card-control" mat-icon-button matTooltip="View" (click)="viewUser(user.id)">
                    <mat-icon color="primary">view_comfy</mat-icon>
                  </button>
            </mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="100"
              #paginator
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
  </div>
