<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-xs="100">
    <!-- <mat-card class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">Drag and drop</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <mat-list [dragula]='"bag-one"' [dragulaModel]='folders'>
          <mat-list-item *ngFor="let folder of folders" class="mb-1 dnd-item">
            <div fxFlex="row" fxLayoutWrap="wrap">
              <mat-icon mat-list-icon [color]="folder.color || 'primary'" class="mr-1 icon-circle">folder</mat-icon>
              <div fxFlex="column">
                <h4 matLine class="m-0 font-normal fz-1">{{folder.name}}</h4>
                <p matLine class="m-0"> {{folder.updated | date}} </p>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card> -->

    <mat-card class="p-0">
      <mat-card-title class="m-0">
        <div class="card-title-text">Gallery</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content class="p-0">
        <mat-grid-list cols="3" rowHeight="1:1" class="app-gallery">
          <!-- Gallery item -->
          <mat-grid-tile *ngFor="let photo of photos">
            <img [src]="photo.url" alt="">
            <!-- item detail, show on hover -->
            <!-- <div class="gallery-control-wrap">
              <div class="gallery-control">
                <h4 class="photo-detail fz-1" [fxHide.lt-sm]="true">{{photo.name}}</h4>
                <span fxFlex></span>
                <button mat-icon-button [matMenuTriggerFor]="photoMenu" class="">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #photoMenu="matMenu">
                    <button mat-menu-item><mat-icon>send</mat-icon>Send as attachment</button>
                    <button mat-menu-item><mat-icon>favorite</mat-icon>Favorite</button>
                    <button mat-menu-item><mat-icon>delete</mat-icon>Delete</button>
                </mat-menu>
              </div>
            </div> -->
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>


    <mat-card class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">Tabs</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Tab 1">
            <p class="pt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
              natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
              natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
              natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
              natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?</p>
          </mat-tab>

        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <mat-card class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">Tabs</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Tab 1">
            <p class="pt-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
              natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
              natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
              natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod dolores explicabo at nisi voluptatum doloribus,
              natus consequatur voluptate reprehenderit, obcaecati nulla quibusdam porro iste autem. Quia, quod possimus voluptas?</p>
          </mat-tab>

        </mat-tab-group>
      </mat-card-content>
    </mat-card>



  </div>

  <!-- <div fxFlex="100" fxFlex.gt-xs="50">
    <mat-card class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">Data model in component</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <pre><code [style.display]="'block'">{{folders | json}}</code></pre>
      </mat-card-content>
    </mat-card>

  </div> -->

  <div fxFlex="100" fxFlex.gt-sm="50">
  <mat-card class="p-0">
    <mat-card-title class=" m-0">
      <div class="card-title-text">Info Window</div>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content class="p-0">
      <agm-map
      [ngStyle]="{height: '400px'}"
      [zoom]="zoom"
      [latitude]="mapCenter.lat"
      [longitude]="mapCenter.lng">
      <agm-marker [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [label]="'BD'">
        <agm-info-window [disableAutoPan]="true" [isOpen]="true">
          <p><strong>Country:</strong> Bangladesh</p>
          <p><strong>Birth date:</strong> 16 December, 1971</p>
        </agm-info-window>
      </agm-marker>
      </agm-map>
    </mat-card-content>
  </mat-card>
</div>

</div>
